.nav-menu {
  display: flex;
  justify-content: center;
  padding: 40px 0px; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  z-index: 10;
  box-sizing: border-box;
}

.nav-links {
  list-style: none;
  display: flex;
  width: 100%; /* Full viewport width */
  justify-content: space-evenly; /* Equal spacing between all items */
  margin: 0;
  padding: 0;
}

.nav-links li {
  flex-grow: 1; /* Ensures all list items share equal width */
  text-align: center; /* Centers the text within each item */
}

.nav-links a {
  text-decoration: none;
  color: var(--disabled); /* Default color for non-active links */
  font-size: 28px;
  position: relative; /* For ::after positioning */
  transition: color 0.3s;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: -2px; /* Adjust spacing below text */
  left: 100%; /* Start off-screen (right side) */
  width: 0; /* Hidden initially */
  height: 1px;
  background: black;
  transition: width 0.3s ease, left 0.3s ease; /* Smooth animation */
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%; /* Full width of the text */
  left: 0; /* Align with the text */
}

.nav-links a:hover {
  color: var(--accent); /* Hover effect */
}

.nav-links a.active {
  color: var(--active); /* Highlight active link in black */
  font-weight: bold;
}


@media (max-width: 768px) {

  .nav-menu {
    padding: 20px 5px; 
  }

  .nav-links a {
    font-size: max(12px, 3vw);
  }
  
}


