.photography-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.photography-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/image_background.jpg');
  background-size: cover;
  background-position: center;
  filter: grayscale(25%);
  z-index: -1; /* Ensures the image stays behind the content */
}


.content-area {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-content { 
  max-width: 80vw;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-panel {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-box {
  width: 100%;
  max-width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  
  padding: 100px 0 20px 0; /* Keeps padding only at bottom */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent; /* Firefox */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Wrapper for content inside black-box */
.black-box-content {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding-top: 10px;
}

/* Custom scrollbar for WebKit browsers (Chrome, Safari) */
.black-box::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
}

.black-box::-webkit-scrollbar-track {
  background: transparent;
}

.black-box::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.carousel-image {
  width: 80%;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  margin: 10px auto; /* Centering images */
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  filter: grayscale(100%);
}

.active-image {
  filter: grayscale(0%) opacity(1); /* Remove grayscale and opacity when selected */
}

.carousel-image:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.selected-image {
  max-width: 80%;
  max-height: 70vh;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.6s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
